<div class="alert alert-info" *ngIf="!pais; else divPais">
    Espere por favor...
</div>

<ng-template #divPais>
    <div class="row">
        <div class="col-12">
            <h1>País: <small>{{ pais.name.common }}</small></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img [src]="pais.flags.svg" class="img-thumbnail"/>
        </div>

        <div class="col">
            <h3>Información</h3>
            <ul class="list-group">
                <li class="list-group-item row">
                    <strong class="col-6 mr-3">Población:</strong> <pre class="col" style="display:inline">{{ pais.population | number }}</pre>
                </li>
                <li class="list-group-item row">
                    <strong class="col-6 mr-3">Extensión:</strong> <pre class="col" style="display:inline">{{ pais.area | number }} m2</pre>
                </li>
                <li class="list-group-item row">
                    <strong class="col-6 mr-3">Capital:</strong> <pre class="col" style="display:inline">{{ pais.capital }}</pre>
                </li>
                <li class="list-group-item row">
                    <strong class="col-6 mr-3">Región:</strong> <pre class="col" style="display:inline">{{ pais.region }}</pre>
                </li>
            </ul>
            <hr>


            





            <h5>Idiomas oficiales</h5>
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let item of pais.languages | keyvalue">{{ item.value }}</mat-list-item>
            </mat-list>
            <!--<ul class="list-group mr-1">
                <li class="list-group-item" *ngFor="let item of pais.languages | keyvalue">
                    {{ item.value }}
                </li>
            </ul>-->
            <hr>


            <h5 class="mr-1">Traducciones</h5>
            <div class="row">
                <div class="col">
                    <span class="badge bg-primary m-1" *ngFor="let item of pais.translations | keyvalue">
                        {{ item.key }} : {{ item.value.common }}
                    </span>
                </div>
            </div>
            <hr>

            <mat-card>
                <mat-card-content><pre class="m-5">
                    {{ pais | json }}
                </pre></mat-card-content>
            </mat-card>



            
        </div>
        
    </div>


    
</ng-template>
