<h2>Por País</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" (ngSubmit)="search() ">
            <input type="text" 
                name="termino" 
                placeholder="Buscar País..." 
                class="form-control"
                [(ngModel)]="termino"/>
        </form>
    </div>
</div>

<hr>
<div class="alert alert-danger" *ngIf="error">
    No se encontró nada con el término {{ termino }}
</div>

<div class="row" *ngIf="!error">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Capital</th>
                    <th>Region</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of results">
                    <td>{{ results.indexOf(item)+1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.capital }}</td>
                    <td>{{ item.region }}</td>
                    <td>
                        <a href="">Ver...</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>